body {
    background-color: #eeeeee;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 70px;
    margin: auto;
}

#main-container{
    margin-left: 80px;
}

.card {
    /*background-color: white;*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    border-radius: 2px;
    /*display: inline-block;*/
    margin: 1rem;
    position: relative;
    width: 300px;
    padding: 1% 1.5%;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bucket-list-heading {
    font-size: 1.3em;
    cursor: pointer;
}

.delete-button {
    background-color: white;
    border: 1px solid tomato;
    color: tomato;
}

.delete-button:hover{
    background-color: tomato;
    color: white;
}

.delete-button::after{
    background-color: tomato;
    color: white;
}

.edit-button {
    background-color: white;
    border: 1px solid #26a69a;
    color: #26a69a;
}

.edit-button:hover{
    background-color: #26a69a;
    color: white;
}

.edit-button:active{
    background-color: #26a69a;
    color: white;
}

.bucket-buttons-container {
    margin-left: 3px;
    margin-bottom: 0px;
}

.card-dates {
    font-size: 0.6em;
    font-weight: lighter;
}

.card-dates span {
    font-weight: 400;
}

.col-md-3 .glyphicon {
    font-size: 8em;
    text-align: center;
    color: #26a69a;
}

.items-table{
    width: 100%;
    font-weight: lighter;
}

.pending-item{
    color: tomato;
    font-size: 1em;
}

.completed-item{
    color: #26a69a;
    font-size: 1em;
}

table span .glyphicon .glyphicon-ok{
    color: tomato;
    font-size: 1em;
}

#search-container{
    padding: 4px;
    margin-left: 35px;
}

#search-input{
    font-size: 2em;
    font-weight: 100;
}

#search-button {
    font-weight: lighter;
    background-color: #26a69a;
    border: 0;
}


#search-input:focus{
    border: solid 1px #26a69a;
}

#nav-bar{
    border-radius: 0;
    min-height: 75px;
    padding-top: 4px;
    padding-right: 4%;
    padding-left: 4%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#nav-bar .navbar-brand {
    font-size: 2em;
    color: #26a69a;
    font-weight: lighter;
}

#create-bucket-button{
    background-color: #26a69a;
    border: solid 1px #26a69a;
}

#sign-out-button{
    border: solid 1px #26a69a;
    color: #26a69a;
    background-color: white;
    margin-left: 4px;
}

#footer {
    text-align: center;
}

.auth-card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    border-radius: 5px;
    position: relative;
    width: 450px;
    padding: 3px 2% 3px;
    margin: 15% auto auto;
}

.form-heading {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.create-bucket-button {
    background-color: #26a69a;
    border: solid 1px #26a69a;
}

#sign-in-button {
    font-weight: lighter;
    font-size: 1.5em;
}

#auth-header {
    font-weight: lighter;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 5%;
    color: #95a5a6;
}

.in-focus:focus{
    border: solid 2px #26a69a;
}
